%%-*- mode: erlang -*-

{require_min_otp_vsn, "19"}.

{deps,
 [
  {ranch, ".*", {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}},
  {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.9"}}}
 ]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
